.favorites {
    background-color: #FFFFFF;
}

.favorites-content_wrapper {
    display: flex;
    flex-flow: column nowrap;
    max-width: 1440px;
    margin: 0px auto;
}

/* Styles for h2 headings are described in index.css */

.favorites_choose-season_area {
    margin: 61px 0px 0px 0px;
}

.favorites_choose-season_area h3 {
    padding: 0px;
    margin: 0px auto 0px 20px;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
}

.favorites_buttons-area {
    display: flex;
    flex-flow: row nowrap;
    max-width: 708px;
    justify-content: space-between;
    margin: 35px 15px 35px 15px;
}

.choose_season_button {
    display: inline-block;
    position: relative;
    padding: 5px 0px 5px 42px;
    cursor: pointer;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000000;
}

/* To hide default radio buttons */
.choose_season_button input { 
    position: absolute;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    cursor: pointer;
}

/* To create custom radio buttons */
.choose-season_checkmark {
    position: absolute;
    top: 10px;
    left: 5px;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 2px solid #000000; 
    background-color: #FFFFFF;    
}

/* To create the dot indicator inside the chosen radio button */
.choose-season_checkmark:after {
    content: "";
    position: absolute;
    display: none;
    width: 7px;
    height: 7px;    
    top: 3px;
    left: 3px;
    border-radius: 50%;
}

/* To show the indicator inside the radio button when the mouse is hovered */
.choose_season_button:hover input ~ .choose-season_checkmark:after {
    display: block;
    background: #bababa;
}
  
/* To show the indicator when the radio button is checked */
.choose_season_button input:checked ~ .choose-season_checkmark:after {
    display: block;
    background: #000000;
} 

.choose_season_button:has(input:checked) {
    font-weight: 700;
}

/* ----------------------------------------------------- */

.favorites_books {
    display: flex;
    flex-flow: column;
    height: 1190px;
    margin: 0px 20px;
    overflow: hidden;
}

.book_set {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0px auto;
}

.favorites_book-container {
    display: inline-block;
    position: relative;
    flex-shrink: 0;
    width: 590px;
    height: 555px;
    margin-bottom: 40px;
}

.favorites_book-container img {
    position: absolute;
    left: 390px;
    top: 255px;
    width: 200px;
    height: 300px;
    z-index: 10;
}

.favorites_book_frame {
    width: 550px;
    height: 555px;
    margin: 0px;
    border: 1px solid #000000;
}

.favorites_book_frame h4 {
    position: relative;
    margin: 15px auto 0px 20px;   
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000000;
}

.favorites_book_frame h4::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0px;
    height: 1px;
    width: 60px;
    background-color: #BB945F;
}

.book_name {
    margin-top: 20px;
    margin-left: 20px;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
}

.book_auther {
    margin-left: 20px;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000000;
}

.favorites_book_frame p {
    width: 356px;
    height: 320px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000000;
}

.book_buy-button {
    width: 73px;
    height: 28px;
    margin-top: 16px;
    margin-left: 20px;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    background-color: #FFFFFF;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}

.book_buy-button:hover {
    border: 1px solid #BB945F;
    border-radius: 2px;
    background: #BB945F;
    transition: .3s ease-in-out;
}

.book_own-button {
    width: 73px;
    height: 28px;
    margin-top: 16px;
    margin-left: 20px;
    border: 1px solid #BB945F;
    border-radius: 2px;
    background-color: #FFFFFF;    
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: text;
}

.books_not-shown {
    display: none;
}

@media (max-width: 1260px) {
    .favorites_books {
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 2380px;
    }
    .book_set {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}


/*
.book_set {
    display: none;
    opacity: 0;
}

.book_set.shown {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    opacity: 1;   
}

.to-fade-in {
    animation: fade-in 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.to-fade-out {
    animation: fade-out 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}*/