.contacts {
    display: flex;
    flex-flow: column nowrap;
    height: 575px;
    background-color: #FFFFFF;
}

/* Styles for h2 headings are described in index.css */

.contacts_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 61px 20px 40px 20px;
}

.contacts_container img {
    width: 696px;
    height: 414px;
}

.contact_details {
    display: flex;
    flex-flow: column nowrap;
    width: 505px;
    flex-shrink: 0;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000000;
}

.contact_details a:link, .contact_details a:visited {
    color: #000000;
    cursor: pointer;
    text-decoration-line: none;
}

.contact_details a:hover {
    color: #000000;
    cursor: pointer;
    text-decoration-line: underline;
}

.contact_details a:active {
    color: #000000;
    text-decoration: underline;
}

.contacts_phone-info h4, .contacts_senior-staff h4 {
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}

.contacts_phone-info div {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px;
    font-weight: 400;
}