footer {
    background-color: #0C0C0E;
}

.footer-content_wrapper {
    display: flex;
    flex-flow: column nowrap;    
    max-width: 1440px;
    margin: 0px auto;
}

.footer_top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 20px 20px 30px 20px;
}

.footer_top-left {
    flex-shrink: 0;
}

#footer_address {
    display: inline-block;
    flex-shrink: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.footer_social-media {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 0;
    margin: 18px 0 0 0;
    list-style-type: none;
}

.footer_social-media li {
    margin-right: 15px;
}

.footer_social-media li:last-child {
    margin-right: 0px;
}

.footer_top-right {
    flex-shrink: 0;
    text-align: right;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

#footer_work-hours_weekdays {
    margin-bottom: 10px;
}

#footer_decor-line {
    width: auto;
    height: 1px;
    margin: 0px 20px 0px 20px;
    background-color: #FFFFFF;
}

.footer_bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 44px 20px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #FFFFFF; 
}

#footer_year {
    display: inline-block;
    flex-shrink: 0;
    width: 160px;
    text-align: left;
}

#footer_school {
    display: inline-block;
    flex-shrink: 0;
}

#footer_author {
    display: inline-block;
}

#footer_address:link, #footer_address:visited, 
#footer_school:link, #footer_school:visited, 
#footer_author:link, #footer_author:visited {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration-line: none;
}

#footer_address:hover, 
#footer_school:hover, 
#footer_author:hover {
    color: #FFFFFF;
    text-decoration-line: underline;
}
  
#footer_address:active,
#footer_school:active, 
#footer_author:active {
    color: #FFFFFF;
    text-decoration: underline;
}

@media (max-width: 1024px) {
    #footer_year {width: 56px;}
}