.about {
    background-color: #FFFFFF;
}

.about-content_wrapper {
    display: flex;
    flex-flow: column nowrap;   
    max-width: 1440px;
    margin: 0px auto;    
}

/*Styles for h2 headings are described in index.css*/

#about_text {
    margin: 61px auto 0px auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    color: #000000;
}

.about_carousel_photos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 20px 20px 0px 20px;
}

.about_carousel_photos div {
    display: inline-block;
    flex-shrink: 0;
    height: 560px;
    width: 450px;
}

.about_carousel_photos img {
    display: none;
}

#about_carousel_photo_1 {
    background-image: url("../images/about_photos_1_girl.png");
}

#about_carousel_photo_2 {
    background-image: url("../images/about_photos_2_busts.png");
}

#about_carousel_photo_3 {
    background-image: url("../images/about_photos_3_curved-shelves.png");
}

.about_carousel_pagination {
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    margin: 35px auto 35px auto;
}

/* Pagination buttons clickable area */
.about_pagination-button_clickable-area {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0px;
    cursor: pointer;
}

.about_pagination-button {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 5px;
    background-color: #0C0C0E;
}

.about_pagination-button_active {
    background-color: #BB945F;
}

.about_pagination-button_clickable-area:last-child,
.about_pagination-button_clickable-area:nth-last-child(2) {
    display: none;
}

@media (max-width: 1430px) and (min-width: 965px) {
    #about_carousel_photo_3 {display: none;}
    .about_pagination-button_clickable-area:nth-last-child(2) {
        display: inline-block;
    }
    .about_carousel_photos {justify-content: center;}
    #about_carousel_photo_1 {margin-right: 25px;}
}

@media (max-width: 964px) {
    #about_carousel_photo_2,
    #about_carousel_photo_3 {
        display: none;
    }

    .about_pagination-button_clickable-area:nth-last-child(2),
    .about_pagination-button_clickable-area:nth-last-child(1) {
        display: inline-block;
    }

    .about_carousel_photos {
        justify-content: center;
        align-items: center;
    }
    #about_carousel_photo_1 {margin: 0px 58px;}
    .about_carousel_photos img {
        display: inline-block;
        padding-top: 40px;
    }
}