.contacts {
    background-color: #FFFFFF;
}

.contacts-content_wrapper {
    display: flex;
    flex-flow: column nowrap;
    max-width: 1440px;
    margin: 0 auto;
}

/* Styles for h2 headings are described in index.css */

.contacts_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 61px 20px 40px 20px;
}

.contact_info {
    display: flex;
    flex-flow: column nowrap;
    width: 505px;
    flex-shrink: 0;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000000;
}

.contact_info a:link, .contact_info a:visited {
    color: #000000;
    cursor: pointer;
    text-decoration-line: none;
}

.contact_info a:hover {
    color: #000000;
    cursor: pointer;
    text-decoration-line: underline;
}

.contact_info a:active {
    color: #000000;
    text-decoration: underline;
}

.contact_info h4:first-of-type {
    margin: 0px auto 0px 0px;
    padding: 0px;
    font-weight: 700;
}

.contact_info h4:last-of-type {
    margin: 40px auto 0px 0px;
    padding: 0px;
    font-weight: 700;
}

.contact_info p {
    margin: 20px auto 0px 0px;
    padding: 0px;
    font-weight: 400;
}

.contact_info p:first-of-type {
    margin-top: 40px;
}

.contacts_container img {
    width: 696px;
    height: 414px;
}

@media (max-width: 1261px) {
    .contacts_container {
        display: flex;
        flex-flow: column;
        margin: 61px 20px 40px 20px;
    }
    .contact_info {
        align-self: flex-start;
    }
    .contacts_container img {
        align-self: center;
        max-width: 100%;
        height: auto;
        margin-top: 100px;            
    }
}