.library-card {
    background-color: #FFFFFF;
}

.library-card-content_wrapper {
    display: flex;
    flex-flow: column nowrap;    
    max-width: 1440px;
    margin: 0px auto;
}

/* Styles for h2 headings are described in index.css */

.library-card_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 61px 20px 41px 20px;
}

.library-card_find-card_section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.library-card_find-card_section h3 {
    margin: 0px auto 30px auto;
    padding: 0px;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #000000;
}

.library-card_find-card_body {
    flex-shrink: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 600px; 
    height: 386px; 
    border: 3px solid #BB945F;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.library-card_find-card_input-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 20px;
    background: #BB945F;
}

.library-card_find-card_input-form h4 {
    margin: 20px auto 20px 20px;  
    text-align: left;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    color: #000000;
}

.library-card_find-card_input-form input {
    width: 520px;
    margin: 0px 20px 25px 20px;
    padding: 8px 20px;
    border-style: none;
    border-radius: 10px;
    background-color: #FFFFFF;

    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.library-card_find-card_input-form input:focus {
    outline: none;
}

.library-card_find-card_body button {
    width: 242px;
    height: 44px;
    margin: 0px auto auto auto;
    border: 1px solid #0C0C0E;
    border-radius: 2px;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    color: #0C0C0E;
    cursor: pointer;
    background-color: #FFFFFF;
}

.library-card_find-card_body button:hover, 
#library-card_get-card_sign-up-button:hover, 
#library-card_get-card_log-in-button:hover {
    border: 1px solid #BB945F;
    border-radius: 2px;
    background: #BB945F;
    transition: .3s ease-in-out;
}

/* --------------- "Get a reader card" section --------------- */

.library-card_get-card_section {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    margin: 0px;
    padding-left: 40px;
}

.library-card_get-card_section h3 {
    margin: 0px;
    padding: 0px;
    text-align: right;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #000000;
}

.library-card_get-card_section p {
    max-width: 456px;
    margin: 35px 0px 35px auto;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
}

#library-card_get-card_sign-up-button, #library-card_get-card_log-in-button {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: #FFFFFF;

    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

#library-card_get-card_sign-up-button {
    margin-right: 16px;
}

@media (max-width: 1024px) {
    .library-card_container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 61px auto 41px auto;    
    }

    .library-card_get-card_section {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 21px;
        padding: 0px;
    }

    .library-card_get-card_section p {
        max-width: 600px;
        margin: 40px auto 40px auto;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0.4px;
        color: #000000;
    }
}